{% extends "src/base/base.html" %}
{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% block title %}Graphing - FREE Online Calculator | CambodiaEdu.org{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "src/calculator/graphing/graphing.css" %}">
{% endblock style %}


{% block content %}
{% include "src/include/navbar-calculator/navbar-calculator.html" %}
{% include "src/include/sidebar-calculator/sidebar-calculator.html" %}
{% include "src/include/calculator-keyboard/calculator-keyboard.html" %}


<!-- Page layout for calculator -->
<!-- Equation and instructions -->
<div class="graphing-calculator">
    {% comment %} =============== Separate line =============== {% endcomment %}
    <hr class="line-style">
    <span>Capture a photo.</span>
    <hr class="line-style">

    {% comment %} Take a picture {% endcomment %}
    <div class="contentarea">
        <div class="camera">
            <video id="video">Video stream not available.</video>
        </div>
        <div>
            <button id="startbutton">Take photo</button>
            <button id="downloadbutton">Download</button>
        </div>
        {% comment %} <canvas id="canvasPhoto"></canvas>
        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box.">
        </div> {% endcomment %}
    </div>

    {% comment %} =============== Separate line =============== {% endcomment %}
    <hr class="line-style">
    <span>Generate text from photo/image.</span>
    <hr class="line-style">

    {% comment %} OCR {% endcomment %}
    <div class="container">
        <div class="upper">
            <input type="file">
            <button id="startOCRBtn" class="button-4" role="button">Start</button>
            <div class="progress"></div>
        </div>
        <div class="bottom">
            <div>
                {% comment %} <img id="showOCRImg" src=""> {% endcomment %}

                {% comment %} Get photo from captured. {% endcomment %}
                <canvas id="canvasPhoto"></canvas>
                <img id="photo" alt="The screen capture will appear in this box.">
            </div>
            <div style="display: none;">
                <textarea placeholder="text"></textarea>
            </div>
        </div>
    </div>
    {% comment %} End, OCR {% endcomment %}


    {% comment %} =============== Separate line  ==============={% endcomment %}
    <hr class="line-style">
    <span>Draw a graph.</span>
    <hr class="line-style">


    <div style = "float: left; padding-right: 10px;">
        {% comment %} Equation inputs: {% endcomment %}
        {% comment %} Input 1 {% endcomment %}
        <div class="input-equation">
            Equation 1: 
            <input class="keyboard-input" id='eq1' type="text" name="inter_fname"/>
            
            Colour: 
            <select id='colour1'>
                <option value="black" selected>	black 	</option>
                <option value="red">			red		</option>
                <option value="blue">			blue	</option>
                <option value="green">			green	</option>
            </select> 
        </div>
        
        {% comment %} Input 2 {% endcomment %}
        <div class="input-equation">
            Equation 2: 
            <input class="keyboard-input" id ="eq2" type="text" name="inter_fname"/>
            
            Colour: 
            <select id='colour2'>
                <option value="black" selected>	black 	</option>
                <option value="red">			red		</option>
                <option value="blue">			blue	</option>
                <option value="green">			green	</option>
            </select> 
        </div>
        
        {% comment %} Input 3 {% endcomment %}
        <div class="input-equation">
            Equation 3: 
            <input class="keyboard-input" id="eq3" type="text" name="inter_fname"/>
            
            Colour: 
            <select id='colour3'>
                <option value="black" selected>	black 	</option>
                <option value="red">			red		</option>
                <option value="blue">			blue	</option>
                <option value="green">			green	</option>
            </select> 
        </div>
        
        {% comment %} Submit button {% endcomment %}
        <button class="submit-btn" id='btnSubmit' >Submit</button>
        
        <div style="padding: 1rem 0;">
            {% comment %} Instructions {% endcomment %}
            <p>Enter a expression, for example:</p>
            <p><b>"2*x + 1"</b>: this (*) symbol is multiply.</p>
            <p><b>"x**2 - 1*x - 6"</b>: this (**) symbol is 2 exponent.</p>
            <p><b>"x**3 - x - 1"</b>: this (**) symbol is 3 exponent.</p>
        </div>
    </div>
    
    {% comment %} Graph and buttons {% endcomment %}
    <div style = "float: left;">

        {% comment %} Graph canvas {% endcomment %}
        <div style="float: left;">
            <canvas id="canvas" width="700" height="700" style="border: 1px solid #000000;"></canvas>
        </div>
        
        {% comment %} Graph manipulation {% endcomment %}
        <div style = "float: bottom;" >
            
            {% comment %} Axis Offset {% endcomment %}
            <div style = "float:left" >
                <p style = "text-align: center"> Axis offset: </P>
                <div style = "float: bottom;" >
                    {% comment %} Left button {% endcomment %}
                    <div style = "float: left" >
                        <button id='offset_left' class="button-4" role="button"> < </button>
                    </div>
                    
                    {% comment %} Up/down offset {% endcomment %}
                    <div style = "float: left" >
                        <div style = "float: up;">
                            <button id='offset_up' class="button-4" role="button"> /\ </button>
                        </div>
                        
                        <button id='offset_down' class="button-4" role="button"> \/ </button>	
                    </div>
                    
                    {% comment %} Right button {% endcomment %}
                    <button id='offset_right' class="button-4" role="button"> > </button>
                </div>
            </div>
            
            {% comment %} Scale {% endcomment %}
            {% comment %} X axis: {% endcomment %}
            <div style = "float: left; padding-left: 20px" > 
                <p style = "text-align: center"> Scale X </p>
                <div style = "float:bottom"> 
                    <button id='scale_x_plus' class="button-4" role="button"> + </button>
                    <button id='scale_x_minus' class="button-4" role="button"> - </button>
                </div>
            </div>
            
            {% comment %} Y axis: {% endcomment %}
            <div style = "float: left; padding-left: 20px">
                <p style = "text-align: center"> Scale Y </p>
                <div style = "float:bottom"> 
                    <button id='scale_y_plus' class="button-4" role="button"> + </button>
                    <button id='scale_y_minus' class="button-4" role="button"> - </button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block script %}
    {% comment %} Optical character recognition {% endcomment %}
    <script src="https://unpkg.com/tesseract.js@v2.0.0-alpha.13/dist/tesseract.min.js"></script>

    <script src="{% static "src/calculator/graphing/graphing.js" %}"></script>
    {% comment %} Generate graph via Javascript {% endcomment %}
    <script src="{% static "src/calculator/graphing/canvas-graph.js" %}"></script>
    {% comment %} Event listeners {% endcomment %}
    <script src ="{% static "src/calculator/graphing/user-input.js" %}"></script>
    {% comment %} Execute functions {% endcomment %}
    <script src ="{% static "src/calculator/graphing/implement.js" %}"></script>
{% endblock script %}
