.graphing-calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60px;
    left: 70px;
    width: calc(100% - 70px);
    padding: 1rem;
    z-index: 7;
}

.submit-btn {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin: 1rem 0;
}

.submit-btn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.submit-btn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.submit-btn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.submit-btn:focus {
    outline: 1px transparent;
}

.submit-btn:before {
    display: none;
}

.submit-btn:-webkit-details-marker {
    display: none;
}


/* OCR */
.container {
    width: 100%;
}

.upper div {
    display: inline;
    margin-left: 100px;
    white-space: pre;
}

.bottom {
    margin-top: 30px;
    display: flex;
}

.bottom div {
    flex: 1;
    border: 1px solid rgb(118, 118, 118);
    height: 400px;
    margin: 10px;
}

.bottom div img {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    margin: 10px;
}

.bottom div textarea {
    resize: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
}

.bottom div:first-child {
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.bottom div:last-child {
    margin-right: 0px;
}

/* End, OCR */

/* Take a picture */
#video {
    border: 2px solid black;
    width: 320px;
    height: 240px;
}

#photo {
    /* border: 2px solid black; */
    width: auto;
    height: 100%;
}

#canvasPhoto {
    display: none;
}

.camera {
    width: 340px;
    display: inline-block;
}

.output {
    width: 340px;
    padding-top: 20px;
    display: inline-block;
}

#startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: -5px;
    padding: 15px;
    background-color: #8481da;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

#downloadbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: -10px;
    padding: 18px;
    background-color: #4caf50;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

.contentarea {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}

/* End, Take a picture */

hr.line-style {
    margin: 1.5rem 0;
    border-top: 1px dashed #8c8b8b;
    width: 100%;
}

/* Beautiful button */
.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}
/* End, Beautiful button */

.input-equation {
    padding: .5rem 0;
}

.keyboard-input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

#colour1, #colour2, #colour3 {
    height: 30px;
    border-radius: 5px;
}
