.sidebar-lesson-container {
    position: fixed;
    top: 60px;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar-lesson-container:hover {
    overflow-y: auto;
}

.sidebar-lesson {
    padding: .5rem 1rem;
}

.sidebar-lesson .link a {
    color: #000;
}
