@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Poppins:wght@200;300;400;500;600&display=swap');

@media (min-width: 1000px) {
    .aside {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: left .5s;
    }

    .main-content section {
        background-color: var(--bg-section);
        min-height: 100vh;
        display: block;
        position: absolute;
        top: 0;
        left: 250px;
        right: 0;
        z-index: 0;
        opacity: 1;
    }

    .back-home {
        display: flex;
        align-items: center;
        border-bottom: 1px solid gray;
        width: 100%;
        height: 60px;
        padding-left: 1rem;
        cursor: pointer;
    }

    .aside .nav-toggler {
        display: none;
    }

    .closebtn {
        display: none;
    }
}

@media (max-width: 1000px) {
    .aside {
        top: 0;
        left: -250px;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 60px;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: left .5s;
    }

    .main-content section {
        background-color: var(--bg-section);
        min-height: 100vh;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        opacity: 1;
    }

    .aside .nav-toggler {
        height: 40px;
        width: 45px;
        border: 1px solid red;
        cursor: pointer;
        position: fixed;
        left: 10px;
        top: 10px;
        border-radius: 5px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .back-home {
        display: flex;
        align-items: center;
        border-bottom: 1px solid gray;
        width: 100%;
        height: 60px;
        padding-left: 1rem;
        cursor: pointer;
        justify-content: space-around;
    }
}

/* =================================== */
:root {
    --bg-section: #f2f2fc;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 18px;
    font-family: "Battambang";
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.aside .logo {
    position: absolute;
    top: 80px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: blue;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 20px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid red;
    border-right: 5px solid red;
    top: 0;
    right: 0;
}

center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside .nav-items .nav-links {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.aside .nav-items .nav-links a {
    font-size: 18px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid gray;
    color: red;
    padding: 5px 15px;
}

.aside .nav-items .nav-links a.active {
    color: aqua;
}

.aside .nav-items .nav-links a i {
    margin-right: 15px;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: blue;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: blue;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: blue;
    position: absolute;
    top: 6px;
    left: 0;
}
