{% extends "../base.html" %}

{% block content %}

{% load static %}

    <div class="home-container">
        <h1 class="mb-3 h2 text-center text-primary"><b>ស្វាគមន៍មកកាន់<br>CambodiaEdu.org!</b></h1>
        <div class="main-home">
            <div class="main-text text-danger">
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន ភាសាខ្មែរ</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន C Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន C++ Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន C# Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន Java Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន Python Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន HTML Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន CSS Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន PHP Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន SQL Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន JavaScript Programming</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន Bootstrap Framework</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន jQuery JavaScript Library</b></li><br>
                <li><b>អ្នកទាំងអស់គ្នានឹងរៀន React JavaScript Library</b></li><br>
            </div>
        </div>
    </div>

{% endblock %}