{% load i18n %}
{% load static %}
{% load sekizai_tags %}


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static "src/include/navbar/navbar.css" %}">
{% endaddtoblock %}

<nav class="header-navbar">
    <div class="menu-icon">
        <span class="fas fa-bars"></span>
    </div>
    <div class="logo" id="logo-name">
        <a href="/" class="header-logo">
            <img src="{% static "assets/images/icon.png" %}" alt="" width="45">
            <span>CambodiaEdu.org</span>
        </a>
    </div>

    {% comment %} Vertical line. {% endcomment %}
    <span class="vertical"></span>

    <div class="nav-items">
        <li class="header-blog-li"><a href="{% url "blog" %}">Blog</a></li>

        {% comment %} Loop menu {% endcomment %}
        {% if LANGUAGE_CODE == "en" %}
            {% for cate in categories %}
                <li><a href="/{{ cate.categoryUrl }}">{{ cate.categoryNameEnglish }}</a></li>
            {% endfor %}
        {% endif %}
        {% if LANGUAGE_CODE == "km" %}
            {% for cate in categories %}
                <li><a href="/{{ cate.categoryUrl }}">{{ cate.categoryNameKhmer }}</a></li>
            {% endfor %}
        {% endif %}

    </div>
    
    <div class="search-icon">
        <span class="fas fa-search"></span>
    </div>
    <div class="cancel-icon">
        <span class="fas fa-times"></span>
    </div>

    {% comment %} Right {% endcomment %}
    <div class="search-field">
        <form action="/search" method="GET">
            {% if LANGUAGE_CODE == "en" %}
                <input type="search" name="q" class="search-data" placeholder="Search" required>
            {% endif %}
            {% if LANGUAGE_CODE == "km" %}
                <input type="search" name="q" class="search-data" placeholder="ស្វែងរក ទំព័រដើម" required>
            {% endif %}
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 512 512" height="18">
                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
        </form>
    </div>

    {% comment %} Dropdown list {% endcomment %}
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">
            {% for lang in languages %}
                {% if LANGUAGE_CODE == lang.code %}
                    {{ lang.name_local }}
                {% endif %}
            {% endfor %}

            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 320 512">
                <path fill="#fff" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/>
            </svg>
        </button>
                    
        <ul class="dropdown-content" id="myDropdown">
            {% for lang in languages %}
                <li>
                    <a href="/{{ lang.code }}/">{{ lang.name_local }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
</nav>

{% addtoblock "js" %}
    <script src="{% static "src/include/navbar/navbar.js" %}"></script>
{% endaddtoblock %}
