{% extends "src/base/base.html" %}
{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% block title %}Geometry - FREE Online Calculator | CambodiaEdu.org{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "src/calculator/geometry/geometry.css" %}">
{% endblock style %}


{% block content %}
{% include "src/include/navbar-calculator/navbar-calculator.html" %}
{% include "src/include/sidebar-calculator/sidebar-calculator.html" %}
<div class="geometry-calculator">
    <span>Geometry Calculator</span>
</div>
{% endblock content %}


{% block script %}
    <script src="{% static "src/calculator/geometry/geometry.js" %}"></script>
{% endblock script %}
