* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    min-height: 100vh;
    padding: 20px;
}

.main-home {
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow: hidden;
}
