header nav a {
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: var(--navbar-bg-both);
    padding: 20px;
    text-align: center;
}

header nav a {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--text);
    border-radius: 5px;
    letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
    background: #00c2cb;
    color: #42455a;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) {
    color: #e0ffff;
}

section:nth-child(2) {
    color: #42455a;
    background: #e0ffff;
}

section:nth-child(3) {
    color: #e0ffff;
}

section:nth-child(4) {
    color: #42455a;
    background: #e0ffff;
}

section:nth-child(5) {
    color: #e0ffff;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 3rem;
    margin: 20px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .text-container {
    display: flex;
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
}

section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

/* Set margin to the footer */
.margin-footer {
    margin-left: 70px;
}

@media (max-width: 800px) {
    .margin-footer {
        margin-left: 0;
    }
}
/* End, Set margin to the footer */
