{% extends "src/base/base.html" %}
{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% block title %}About Calculator | CambodiaEdu.org{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static "src/calculator/about-calculator/about-calculator.css" %}">
{% endblock style %}


{% block content %}
{% include "src/include/navbar-calculator/navbar-calculator.html" %}
{% include "src/include/sidebar-calculator/sidebar-calculator.html" %}


{% comment %} About {% endcomment %}
<header>
    <nav>
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </nav>
</header>

<section id="home">
    <div class="container reveal">
        <h1>{% lorem 1 b random %}</h1>
    </div>
</section>

<section id="about">
    <div class="container reveal">
        <h2>About</h2>
        <div class="text-container">
            <div class="text-box">
                <h3>Section Text</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    eius molestiae perferendis eos provident vitae iste. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Quam blanditiis,
                    officiis, voluptate quisquam aperiam nobis est, quis neque esse
                    soluta dolores iste sit corrupti! Magnam, delectus qui. Odit,
                    accusamus doloremque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est
                    rerum id quis eaque rem suscipit reprehenderit quaerat vero
                    nesciunt?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptatum, eaque voluptatibus. Eaque tempore quam nesciunt. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci
                    blanditiis assumenda atque officiis? Vel, fuga facilis quia
                    reprehenderit nihil optio harum. Quo sapiente veniam atque
                    corporis tempora non repellat?
                </p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container reveal">
        <h2>Services</h2>
        <div class="text-container">
            <div class="text-box">
                <h3>Section text</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    eius molestiae perferendis eos provident vitae iste.
                </p>
            </div>
            <div class="text-box">
                <h3>Section Text</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    eius molestiae perferendis eos provident vitae iste.
                </p>
            </div>
            <div class="text-box">
                <h3>Section Text</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    eius molestiae perferendis eos provident vitae iste.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container reveal">
        <h2>Contact</h2>
        <div class="text-container">
            <div class="text-box">
                <h3>Section Text</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="text-box">
                <h3>Section Text</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</section>
{% comment %} End, About {% endcomment %}


{% include "src/include/footer/footer.html" %}
{% endblock content %}


{% block script %}
    <script src="{% static "src/calculator/about-calculator/about-calculator.js" %}"></script>
{% endblock script %}
