{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "src/include/navbar-calculator/navbar-calculator.css" %}">
{% endaddtoblock %}

<nav class="navbar-calculator">
    <a href="{% url "calculator" %}" class="navbar-calculator-logo-a">
        <img class="navbar-calculator-logo" src="{% static "assets/images/icon.png" %}" alt="">
        <span class="navbar-calculator-name">Calculator</span>
    </a>
    <ul class="navbar-calculator-ul">
        {% if LANGUAGE_CODE == "en" %}
            <li><a class="navbar-calculator-links" href="{% url "basic-calculator" %}">Basic</a></li>
            <li><a class="navbar-calculator-links" href="{% url "graphing-calculator" %}">Graphing</a></li>
            <li><a class="navbar-calculator-links" href="{% url "geometry-calculator" %}">Geometry</a></li>
            <li><a class="navbar-calculator-links" href="{% url "probability-calculator" %}">Probability</a></li>
        {% endif %}
        {% if LANGUAGE_CODE == "km" %}
            <li><a class="navbar-calculator-links" href="{% url "basic-calculator" %}">មាសុីនគិតលេខ</a></li>
            <li><a class="navbar-calculator-links" href="{% url "graphing-calculator" %}">ក្រាហ្វ​</a></li>
            <li><a class="navbar-calculator-links" href="{% url "geometry-calculator" %}">ធរណីមាត្រ</a></li>
            <li><a class="navbar-calculator-links" href="{% url "probability-calculator" %}">ប្រូបាប</a></li>
        {% endif %}
    </ul>

    {% comment %} Dropdown menu {% endcomment %}
    <div class="dropdown-menu">
        <button class="dropbtn" onclick="btnDropdownFunc()" aria-label="More menu button">
            More
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </button>
        
        <ul class="dropdown-content" id="myDropdown">
            <li class="dropdown-menu-items">
                <a class="navbar-calculator-links" href="{% url "basic-calculator" %}">Basic</a>
            </li>
            <li class="dropdown-menu-items">
                <a class="navbar-calculator-links" href="{% url "graphing-calculator" %}">Graphing</a>
            </li>
            <li class="dropdown-menu-items">
                <a class="navbar-calculator-links" href="{% url "geometry-calculator" %}">Geometry</a>
            </li>
            <li class="dropdown-menu-items">
                <a class="navbar-calculator-links" href="{% url "probability-calculator" %}">Probability</a>
            </li>
        </ul>
    </div>

    {% comment %} Right menu - Btn theme light/dark AND languages AND profile. {% endcomment %}
    <div class="nav-right-menu">
        {% include "src/include/btn-profile/btn-profile.html" %}
        {% include "src/include/btn-theme/btn-theme.html" %}
        {% include "src/include/btn-language/btn-language.html" %}
    </div>
</nav>

{% addtoblock "js" %}
    <script src="{% static "src/include/navbar-calculator/navbar-calculator.js" %}"></script>
{% endaddtoblock %}
