.page-not-found-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page-not-found-container a {
    text-decoration: none;
}

.cover-background {
    background-image: url("/static/assets/images/page-not-found.gif");
    height: 400px;
    background-position: center;
}

.cover-background h1 {
    font-size: 36px;
}

.contant-box-404 span {
    font-size: 18px;
    line-height: 40px;
}

.contant-box-404 span strong {
    font-size: 24px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}

.contant-box-404 {
    margin-top: -50px;
}

.page-not-found-content {
    max-width: 700px;
    width: 100%;
    text-align: center;
}
