{% extends "src/base/base.html" %}
{% load static %}

{% block title %}រកមិនឃើញទំព័រ | CambodiaEdu{% endblock %}

{% block html_head_tag %}
    <meta name="robots" content="noindex">
{% endblock html_head_tag %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "src/404-error/404-error.css" %}">
{% endblock style %}


{% block content %}
    <section class="page-not-found-container">
        <div class="page-not-found-content">
            <div class="cover-background">
                <h1 class="page-not-found-content">រកមិនឃើញទំព័រ</h1>
            </div>

            <div class="contant-box-404">
                <span><strong>— អូ —<br>ទំព័រដែលអ្នកបានស្នើសុំមិនមានទេ។</strong></span>

                <div>
                    <a style="text-decoration: none;" href="/" class="link_404">ត្រឡប់ទៅទំព័រដើម</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{% static "src/404-error/404-error.js" %}"></script>
{% endblock script %}
