/* Start */
.smg-user-logged-in-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-both);
    z-index: 11;
}

.smg-user-logged-in {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smg-user-logged-in .items {
    color: var(--text);
    font-size: 20px;
    margin: .5rem 0;
    white-space: nowrap;
    text-decoration: none;
}

/* Start button 24 style */
.smg-user-logged-in .items.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.smg-user-logged-in .items.button-24:hover,
.smg-user-logged-in .items.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.smg-user-logged-in .items.button-24:active {
    opacity: .5;
}
