{% load static %}

<footer class="bg-light text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #4267B2;" href="https://fb.com/CambodiaEduorg-106149298519841/" role="button">
                <i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #FF0000;" href="https://youtube.com/CambodiaEdu/" role="button">
                <i class="fab fa-youtube"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #00acee;" href="https://twitter.com/ParadisePictur2/" role="button">
                <i class="fab fa-twitter"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgb(87, 87, 87);">
        &copy; 2021 Copyright: <a class="text-white" href="http://127.0.0.1:8000/">CambodiaEdu</a>
    </div>
</footer>