{% extends 'index.html' %}

{% block content %}

<div class="sidenav">
    <a href="#about">Python Intro</a>
    <a href="#services">Python Get Started</a>
    <a href="#clients">Python Syntax</a>
    <a href="#contact">Python Comments</a>
    <a href="#about">Python Variables</a>
    <a href="#services">Python Data Types</a>
    <a href="#clients">Python Numbers</a>
    <a href="#contact">Python Casting</a>
    <a href="#about">Python Strings</a>
    <a href="#services">Python Booleans</a>
    <a href="#clients">Python Operators</a>
    <a href="#contact">Python Lists</a>
    <a href="#about">Python Tuples</a>
    <a href="#services">Python Sets</a>
    <a href="#clients">Python Dictionaries</a>
    <a href="#contact">Python If...Else</a>
    <a href="#about">Python While Loops</a>
    <a href="#services">Python For Loops</a>
    <a href="#clients">Python Functions</a>
    <a href="#contact">Python lambda</a>
</div>
  
<div class="main">
    <h2>Sidebar</h2>
    <p>This sidebar is of full height (100%) and always shown.</p>
    <p>Scroll down the page to see the result.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</div>

{% endblock %}