.calculator-content {
    position: relative;
    top: 60px;
    left: 70px;
    width: calc(100% - 70px);
    height: calc(100vh - 60px);
    padding: 1rem;
    z-index: 8;
}

/* Set margin to the footer */
.margin-footer {
    margin-left: 70px;
}

@media (max-width: 800px) {
    .margin-footer {
        margin-left: 0;
    }
}
/* End, Set margin to the footer */
