{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "src/include/calculator/calculator.css" %}">
{% endblock style %}


{% block content %}
    <button class="calculator-btn" id="calculatorBtn">
        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
            <path d="M320-240h60v-80h80v-60h-80v-80h-60v80h-80v60h80v80Zm200-30h200v-60H520v60Zm0-100h200v-60H520v60Zm44-152 56-56 56 56 42-42-56-58 56-56-42-42-56 56-56-56-42 42 56 56-56 58 42 42Zm-314-70h200v-60H250v60Zm-50 472q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
        </svg>
    </button>

    <div class="calculator-box" id="calculatorBox">
        <span>This is Calculator!</span>
        <button class="calculator-fullscreen-btn" id="calculatorFullscreenBtn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z"/>
            </svg>
        </button>
        <button class="calculator-close-btn" id="calculatorCloseBtn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
            </svg>
        </button>
        <hr>
        <input type="number" name="number-name" id="">
        <div class="row-grid">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
        </div>
    </div>


{% endblock content %}
{% block script %}
    <script src="{% static "src/include/calculator/calculator.js" %}"></script>
{% endblock script %}
