<aside class="sidebar-calculator">
    <ul class="sidebar-calculator-ul">
        <li class="sidebar-calculator-li">
            <a href="/calculator" class="sidebar-calculator-links home">
                <span id="svgSidebarHome"></span>
                <span>Home</span>
                <!-- <span>ទំព័រដើម</span> -->
            </a>
        </li>
        <li class="sidebar-calculator-li">
            <a href="/about" class="sidebar-calculator-links about">
                <span id="svgSidebarAbout"></span>
                <span>About</span>
                <!-- <span>អំពីយើង</span> -->
            </a>
        </li>
    </ul>
</aside>
