.sidebar-calculator {
    position: fixed;
    top: 60px;
    left: 0;
    width: 70px;
    min-height: calc(100vh - 60px);
    background-color: var(--navbar-bg-both);
    box-shadow: var(--box-shadow-both);
    transition: .3s ease-in;
    z-index: 9;
}

.sidebar-calculator-ul {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    list-style-type: none;
}

.sidebar-calculator-li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-calculator-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    text-decoration: none;
}

.sidebar-calculator-links svg {
    fill: var(--svg-both-color);
}

@media (max-width: 800px) {
    .sidebar-calculator {
        left: -70px;
        transition: .3s ease-out;
    }
}
