{% extends "src/base/base.html" %}
{% load static %}

{% block title %}Sign up | Den Sok{% endblock %}

{% comment %} Block extra style {% endcomment %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "src/signup/signup.css" %}">
{% endblock style %}


{% block content %}
{% include "src/include/user-is-logged-in/user-is-logged-in.html" %}
{% include "src/include/x-back-or-close/back-or-close.html" %}


{% comment %} Alert cookie message set to NONE/DISABLE. {% endcomment %}
{% block alert-cookie %}{% endblock alert-cookie %}

<div class="container flex">
    <div class="facebook-page flex">
        {% comment %} <div class="text">
            <h1>Sign up now :)</h1>
            <p>Post your things >= today.</p>
            <p>Stay post your things with us.</p>
        </div> {% endcomment %}
      
        <form action="/api/user/signup/" class="form" method="POST" id="signUpForm">{% csrf_token %}
            <input id="firstName" name="first_name" type="text" placeholder="First name" required>
            <input id="lastName" name="last_name" type="text" placeholder="Last name" required>
            <input id="email" name="email" type="email" placeholder="Email address" required>
            <input id="password" name="password" type="password" placeholder="Password" required>
            <input id="confirmPass" name="confirm-pass" type="password" placeholder="Confirm password" required>
            <input id="dateOfBirth" name="date_of_birth" type="date" required>
            
            <div class="link">
                <button type="submit" class="login">Sign up</button>
                <a href="#" class="forgot">Forgot password?</a>
            </div>
            <hr>
            <div class="button">
                <a href="{% url "login" %}">Log in instead?</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% comment %} Block extra script {% endcomment %}
{% block script %}
    <script type="text/javascript" src="{% static "src/signup/signup.js" %}"></script>
{% endblock script %}
