{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <title>CambodiaEdu Video Details</title>
    <link rel="stylesheet" href="{% static "css/videos/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "videos/fontawesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/videos/templatemo-style.css" %}">
</head>
<body>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">ចំណងជើង</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <video autoplay loop controls id="tm-video">
                  <source src="{% static "media/videos/hero.mp4" %}" type="video/mp4">
                </video>  
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <p class="mb-4">
                        នាយករង​វិទ្យាស្ថាន​ស៊ី​តិច ធ្លាប់​គូសបញ្ជាក់​ថា មុខ​ជំនាញ IT កំពុង​មានឱកាស​ទីផ្សារ​ខ្ពស់​ជាង​មុខ​ជំនាញ​ផ្សេង​ៗ​មួយ​ចំនួន ខណៈ​ប្រទេស​កម្ពុជា​កំពុង​អភិវឌ្ឍន៍ និង​បច្ចេក​វិទ្យា​រីក​ចម្រើន តម្រូវ​ឱ្យ​ស្ថាប័នរដ្ឋ ឯកជន និង​អង្គការ​នានា ត្រូវការ​ចាំបាច់​នូវ​ធនធាន​មនុស្ស​ចេះ​ជំនាញ​ព័ត៌មានវិទ្យា​នេះ ។
                    </p>
                    <div class="text-center mb-5">
                        <a href="#" class="btn btn-primary tm-btn-big">Timestamp</a>
                    </div>                    
                    <div class="mb-4 d-flex flex-wrap">
                        <div>
                            <span class="tm-text-gray-dark">Duration: </span><span class="tm-text-primary">00:00:20</span><br>
                            <span class="tm-text-gray-dark">Duration: </span><span class="tm-text-primary">00:10:00</span><br>
                            <span class="tm-text-gray-dark">Duration: </span><span class="tm-text-primary">00:20:10</span><br>
                            <span class="tm-text-gray-dark">Duration: </span><span class="tm-text-primary">00:30:20</span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h3 class="tm-text-gray-dark mb-3">License</h3>
                        <p>Free for both personal and commercial use. No need to pay anything. No need to make any attribution.</p>
                    </div>
                    <div>
                        <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">SSH Keys</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Programming</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">How to</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Learn Programming</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Learn SSH</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Shorts</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Game</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Related Videos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-01.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-02.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-03.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-04.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-05.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-06.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-07.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static "images/videos/img-08.jpg" %}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <a href="/videos/video-details">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">និស្សិត​ស្រី​រៀន​ជំនាញ​ផ្នែក IT មាន​កំណើន​តិចតួចជាងសិស្សប្រុស</span>
                    <span>12,460 views</span>
                </div>
            </div>       
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->

    
    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>
