{% load static %}
{% load sekizai_tags %}

{% comment %} Block extra style {% endcomment %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static "src/include/theme-btn/theme-btn.css" %}">
{% endaddtoblock %}


    <button type="button" class="theme-btn" role="switch" aria-label="light/dark mode">
        {% comment %} Icon from innerHTML display inside here. {% endcomment %}
    </button>

    {% comment %} Audio/sound on click. {% endcomment %}
    <audio src="{% static "assets/audio/light-on.mp3" %}" class="theme-audio--light-on" data-attribute="adapted from user 160033 file on freesound.org https://freesound.org/people/160033/sounds/366184/ under CC BY-NC 3.0"></audio>
    <audio src="{% static "assets/audio/light-off.mp3" %}" class="theme-audio--light-off" data-attribute="adapted from user 160033 file on freesound.org https://freesound.org/people/160033/sounds/366184/ under CC BY-NC 3.0"></audio>


{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "src/include/theme-btn/theme-btn.js" %}"></script>
{% endaddtoblock %}
