<footer class="container-footer" id="footer">
    <div class="second-footer">
        <section class="social-icon-footer">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #4267B2;" href="https://facebook.com/freecambodiaedu" role="button">
                <i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #FF0000;" href="https://www.youtube.com/@freecambodiaedu" role="button">
                <i class="fab fa-youtube"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #00acee;" href="https://twitter.com/freecambodiaedu" role="button">
                <i class="fab fa-twitter"></i></a>
        </section>
    </div>
    <div class="text-center-footer">
        &copy; 2023 Copyright: <a href="{% url 'home' %}">CambodiaEdu.org</a>
    </div>
</footer>
